%glassstyle{
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(25px);
}
%placeholder{
  font-size: 30px;
  font-weight: 300;
  transition: 0.2s;
  color: white;
  opacity: 0.95;
}
