#greeting_name{
  margin-bottom: 40px;
  #greeting{
    position: relative;
    top: 10%;
    font-size: 40px;
    transition: 1s;
    opacity: 0;
  }
  
  &:focus-within .input-underline{
    width: 100%;
  }
  
  #login-form {
    position: relative;
    top: 20vh;
    .nameinput{  
      border: none;
      background-color: inherit;
      width: 250px;
      height: 50px;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      padding-left: 10px;
    }
    .nameinput::placeholder{
      @extend %placeholder;
    }
    .nameinput:focus::placeholder{
      opacity: 0;
    }
  }
}
