@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "./variables";
*{
  font-family: -apple-system, 'Noto Sans KR', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $gray;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
header{
  #greeting{
    margin-bottom: 40px;
  }
  #greeting{
    font-size: 50px;
  }
  .underline {
    content: " ";
    background-color: $gray;
    width: 0%;
    height: 1px;
    margin-bottom: 40px;
    transition: width 0.5s;
    transform: translateX(100%) scaleX(1);
  }
  &:focus-within .underline{
    width: 100%;
  }

  #login-form {
    input{  
      border: none;
      // border-bottom: solid 1px $gray;
      width: 300px;
      height: 50px;
      &::placeholder{
        font-size: 30px;
        font-weight: 300;
      }
    }
  }
}
#main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  height: 50%;
  width: 80%;
  & > *{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #digital-clock{
    font-size: 30px;
    font-weight: 400;
  }
}