@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

#greeting_name #login-form .nameinput::-webkit-input-placeholder, #main #todo-form input::-webkit-input-placeholder {
  font-size: 30px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  opacity: 0.95;
}

#greeting_name #login-form .nameinput:-ms-input-placeholder, #main #todo-form input:-ms-input-placeholder {
  font-size: 30px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  opacity: 0.95;
}

#greeting_name #login-form .nameinput::-ms-input-placeholder, #main #todo-form input::-ms-input-placeholder {
  font-size: 30px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  opacity: 0.95;
}

#greeting_name #login-form .nameinput::placeholder, #main #todo-form input::placeholder {
  font-size: 30px;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  opacity: 0.95;
}

#greeting_name {
  margin-bottom: 40px;
}

#greeting_name #greeting {
  font-size: 50px;
}

#greeting_name:focus-within .input-underline {
  width: 100%;
}

#greeting_name #login-form {
  position: relative;
}

#greeting_name #login-form .nameinput {
  border: none;
  background-color: inherit;
  width: 250px;
  height: 50px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding-left: 10px;
}

#greeting_name #login-form .nameinput:focus::-webkit-input-placeholder {
  opacity: 0;
}

#greeting_name #login-form .nameinput:focus:-ms-input-placeholder {
  opacity: 0;
}

#greeting_name #login-form .nameinput:focus::-ms-input-placeholder {
  opacity: 0;
}

#greeting_name #login-form .nameinput:focus::placeholder {
  opacity: 0;
}

* {
  font-family: -apple-system, 'Noto Sans KR', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  opacity: 0.95;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(315deg, #ffec61, #f321d7);
}

.hidden {
  display: none;
}

.input-underline {
  background-color: white;
  width: 0%;
  height: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
      grid-template-columns: repeat(4, 200px);
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
      grid-template-areas: "clock todo quote quote" "weather todo . .";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 80%;
}

#main .main__item {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  text-align: center;
}

#main #digital-clock {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: clock;
  font-size: 30px;
  font-weight: 300;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #digital-clock p:first-child {
  margin-bottom: 15px;
}

#main #todo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: todo;
  grid-row: 1 / -1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 30px 10px;
}

#main #todo-form input {
  background-color: inherit;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 8px;
}

#main #todo-form input::-webkit-input-placeholder {
  font-size: 16px;
}

#main #todo-form input:-ms-input-placeholder {
  font-size: 16px;
}

#main #todo-form input::-ms-input-placeholder {
  font-size: 16px;
}

#main #todo-form input::placeholder {
  font-size: 16px;
}

#main #todo-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#main #todo-form input:focus:-ms-input-placeholder {
  opacity: 0;
}

#main #todo-form input:focus::-ms-input-placeholder {
  opacity: 0;
}

#main #todo-form input:focus::placeholder {
  opacity: 0;
}

#main .input-underline {
  width: 0%;
  color: white;
}

#main:focus-within .input-underline {
  width: 100%;
}

#main #todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#main #todo-list li {
  padding: 8px 0px;
  margin: 8px 0px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #todo-list li:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

#main #todo-list li span {
  margin-right: 5px;
}

#main #todo-list li button {
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1px;
}

#main #todo-list li button:hover {
  color: red;
}

#main #quote {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: quote;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #quote span {
  text-align: justify;
}

#main #weather {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: weather;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

#main #weather .weather-location {
  font-size: 20px;
  margin-bottom: 5px;
}

#main #weather .weather-data {
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */